[user]
	email = antoine97.martin@gmail.com
	name = Antoine Martin
[pull]
	rebase = true
[rerere]
	enabled = true
[core]
	editor = vim
[commit]
	verbose = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[includeIf "gitdir:~/work/prologin/"]
	path = .gitconfig-prologin
[includeIf "gitdir:~/work/lrde/"]
	path = .gitconfig-lrde
[includeIf "gitdir:~/work/assistants/"]
	path = .gitconfig-epita
[includeIf "gitdir:~/work/image/"]
	path = .gitconfig-epita
[includeIf "gitdir:~/work/rdi/"]
	path = .gitconfig-lrde
[alias]
	push-wip = push -o ci.skip
	push-merge = push -o merge_request.create -o merge_request.merge_when_pipeline_succeeds -o merge_request.remove_source_branch
	push-mr = push -o merge_request.create -o merge_request.remove_source_branch

[absorb]
	maxStack = 50
[init]
	defaultBranch = main
