[user]
	email = antoine97.martin@gmail.com
	name = Antoine Martin
[pull]
	rebase = true
[rerere]
	enabled = true
[core]
	editor = vim
[commit]
	verbose = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
